@import 'src/css/colores.scss';
@import 'src/css/fuentes.scss';
@import 'src/css/hover/hover.scss';

@media only screen and (max-width: 600px) {
  .ocultar-telefono {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container{
    width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container{
    width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container{
    width: 90%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container{
    width: 90%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container{
    width: 80%;
  }
}

html {
  word-break: normal !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.contenedor {
  position: relative;
  background-color: #2DD0AF;

}

.imagen {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.medio {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.contenedor:hover .imagen {
  opacity: 0.3;
}

.contenedor:hover .medio {
  opacity: 1;
}

.textoLink {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

span {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
}

.bordes_recortados_1 {
  border-top-left-radius: 150px;
}

.bordes_recortados_2 {
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
}

.cursor-mano {
  cursor: pointer;
}
