.text-c-1 {
  color: #6b8aad;
}
.text-c-2 {
  color: #5683B8;
}
.text-c-3 {
  color: #3D6D92;
}
.text-c-4 {
  color: #96C5F7;
}
.text-c-5 {
  color: #e1e9ec;
}
.text-c-6 {
  color: #012a4a;
}
.text-c-7 {
  color: #013a63;
}
.text-c-8 {
  color: #01497c;
}
.text-c-9 {
  color: #014f86;
}
.text-c-10 {
  color: #2a6f97;
}
.text-c-11 {
  color: #2c7da0;
}
.text-c-12 {
  color: #468faf;
}
.text-c-13 {
  color: #61a5c2;
}
.text-c-14 {
  color: #89c2d9;
}
.text-c-15 {
  color: #a9d6e5;
}
.text-c-16 {
  color: #134074;
}
.text-c-17 {
  color: #13315c;
}
.text-c-18 {
  color: #0b2545;
}
.text-c-19 {
  color: #8da9c4;
}
.text-c-20 {
  color: #eef4ed;
}

.bg-c-1 {
  background-color: #6b8aad;
}
.bg-c-2 {
  background-color: #5683B8;
}
.bg-c-3 {
  background-color: #3D6D92;
}
.bg-c-4 {
  background-color: #96C5F7;
}
.bg-c-5 {
  background-color: #e1e9ec;
}
.bg-c-6 {
  background-color: #012a4a;
}
.bg-c-7 {
  background-color: #013a63;
}
.bg-c-8 {
  background-color: #01497c;
}
.bg-c-9 {
  background-color: #014f86;
}
.bg-c-10 {
  background-color: #2a6f97;
}
.bg-c-11 {
  background-color: #2c7da0;
}
.bg-c-12 {
  background-color: #468faf;
}
.bg-c-13 {
  background-color: #61a5c2;
}
.bg-c-14 {
  background-color: #89c2d9;
}
.bg-c-15 {
  background-color: #a9d6e5;
}
.bg-c-16 {
  background-color: #134074;
}
.bg-c-17 {
  background-color: #13315c;
}
.bg-c-18 {
  background-color: #0b2545;
}
.bg-c-19 {
  background-color: #8da9c4;
}
.bg-c-20 {
  background-color: #d9dbff;
}
.bg-c-21 {
  background-color: #ee9622;
}

.text-c1-1 {
  color: #122C34;
}
.text-c1-2 {
  color: #224870;
}
.text-c1-3 {
  color: #2A4494;
}
.text-c1-4 {
  color: #4EA5D9;
}
.text-c1-5 {
  color: #44CFCB;
}

.bg-c1-1 {
  background-color: #122C34;
}
.bg-c1-2 {
  background-color: #224870;
}
.bg-c1-3 {
  background-color: #2A4494;
}
.bg-c1-4 {
  background-color: #4EA5D9;
}
.bg-c1-5 {
  background-color: #44CFCB;
}

.text-bo-1 {
  color: #1A237E;
}
.text-bo-2 {
  color: #303F9F;
}
.text-bo-3 {
  color: #3F51B5;
}
.text-bo-4 {
  color: #7986CB;
}
.text-bo-5 {
  color: #C5CAE9;
}

.bg-bo-1 {
  background-color: #1A237E;
}
.bg-bo-2 {
  background-color: #303F9F;
}
.bg-bo-3 {
  background-color: #3F51B5;
}
.bg-bo-4 {
  background-color: #7986CB;
}
.bg-bo-5 {
  background-color: #C5CAE9;
}


.gradiente20 {
  background: rgb(42,111,151);
  background: linear-gradient(20deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente40 {
  background: rgb(42,111,151);
  background: linear-gradient(40deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente60 {
  background: rgb(42,111,151);
  background: linear-gradient(60deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente80 {
  background: rgb(42,111,151);
  background: linear-gradient(80deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente100 {
  background: rgb(42,111,151);
  background: linear-gradient(100deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente120 {
  background: rgb(42,111,151);
  background: linear-gradient(120deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente140 {
  background: rgb(42,111,151);
  background: linear-gradient(140deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente160 {
  background: rgb(42,111,151);
  background: linear-gradient(160deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente180 {
  background: rgb(42,111,151);
  background: linear-gradient(180deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente200 {
  background: rgb(42,111,151);
  background: linear-gradient(200deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente220 {
  background: rgb(42,111,151);
  background: linear-gradient(220deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente240 {
  background: rgb(42,111,151);
  background: linear-gradient(240deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente260 {
  background: rgb(42,111,151);
  background: linear-gradient(260deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente280 {
  background: rgb(42,111,151);
  background: linear-gradient(280deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente300 {
  background: rgb(42,111,151);
  background: linear-gradient(300deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente320 {
  background: rgb(42,111,151);
  background: linear-gradient(320deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}
.gradiente340 {
  background: rgb(42,111,151);
  background: linear-gradient(340deg, rgba(42,111,151,1) 0%, rgba(44,125,160,1) 35%, rgba(70,143,175,1) 70%, rgba(97,165,194,1) 100%);
}


.cp-c1 {
  color: #4F6D7A;
}

.cp-c2 {
  color: #C0D6DF;
}

.cp-c3 {
  color: #DBE9EE;
}

.cp-c4 {
  color: #4A6FA5;
}

.cp-c5 {
  color: #166088;
}

.cp-c6 {
  color: #DADEE4;
}

.cp1-c1 {
  color: #e63946;
}

.cp1-c2 {
  color: #f1faee;
}

.cp1-c3 {
  color: #a8dadc;
}

.cp1-c4 {
  color: #457b9d;
}

.cp1-c5 {
  color: #1d3557;
}

.cp2-c1 {
  color: #2b2d42;
}

.cp2-c2 {
  color: #8d99ae;
}

.cp2-c3 {
  color: #edf2f4;
}

.cp2-c4 {
  color: #ef233c;
}

.cp2-c5 {
  color: #d90429;
}

.cp3-c1 {
  color: #3d5a80;
}

.cp3-c2 {
  color: #829399;
}

.cp3-c3 {
  color: #e0fbfc;
}

.cp3-c4 {
  color: #ee6c4d;
}

.cp3-c5 {
  color: #293241;
}

.cp4-c1 {
  color: #495867;
}

.cp4-c2 {
  color: #577399;
}

.cp4-c3 {
  color: #bdd5ea;
}

.cp4-c4 {
  color: #f7f7ff;
}

.cp4-c5 {
  color: #fe5f55;
}

.cp5-c1 {
  color: #21295C;
}

.cp5-c2 {
  color: #1B3B6F;
}

.cp5-c3 {
  color: #065A82;
}

.cp5-c4 {
  color: #1C7293;
}

.cp5-c5 {
  color: #9EB3C2;
}

.cp6-c1 {
  color: #16697A;
}

.cp6-c2 {
  color: #489FB5;
}

.cp6-c3 {
  color: #82C0CC;
}

.cp6-c4 {
  color: #EDE7E3;
}

.cp6-c5 {
  color: #FFA62B;
}

.cp7-c1 {
  color: #F03A47;
}

.cp7-c2 {
  color: #AF5B5B;
}

.cp7-c3 {
  color: #F6F4F3;
}

.cp7-c4 {
  color: #276FBF;
}

.cp7-c5 {
  color: #183059;
}

.cp8-c1 {
  color: #545E75;
}

.cp8-c2 {
  color: #63ADF2;
}

.cp8-c3 {
  color: #A7CCED;
}

.cp8-c4 {
  color: #304D6D;
}

.cp8-c5 {
  color: #82A0BC;
}

.cp9-c1 {
  color: #C4F1BE;
}

.cp9-c2 {
  color: #A2C3A4;
}

.cp9-c3 {
  color: #869D96;
}

.cp9-c4 {
  color: #525B76;
}

.cp9-c5 {
  color: #201E50;
}

.cp10-c1 {
  color: #485696;
}

.cp10-c2 {
  color: #E7E7E7;
}

.cp10-c3 {
  color: #F9C784;
}

.cp10-c4 {
  color: #FC7A1E;
}

.cp10-c5 {
  color: #F24C00;
}

.cp11-c1 {
  color: #3d5a80;
}

.cp11-c2 {
  color: #98c1d9;
}

.cp11-c3 {
  color: #e0fbfc;
}

.cp11-c4 {
  color: #ee6c4d;
}

.cp11-c5 {
  color: #293241;
}

.cp12-c1 {
  color: #362a5a;
}

.cp12-c2 {
  color: #3B3355;
}

.cp12-c3 {
  color: #5D5D81;
}

.cp12-c4 {
  color: #BFCDE0;
}

.cp12-c5 {
  color: #FEFCFD;
}

.cp-bc1 {
 background-color: #4F6D7A;
}

.cp-bc2 {
 background-color: #C0D6DF;
}

.cp-bc3 {
 background-color: #DBE9EE;
}

.cp-bc4 {
 background-color: #4A6FA5;
}

.cp-bc5 {
 background-color: #166088;
}

.cp-bc6 {
  background-color: #DADEE4;
}

.cp1-bc1 {
  background-color: #e63946;
}

.cp1-bc2 {
  background-color: #f1faee;
}

.cp1-bc3 {
  background-color: #a8dadc;
}

.cp1-bc4 {
  background-color: #457b9d;
}

.cp1-bc5 {
  background-color: #1d3557;
}

.cp2-bc1 {
  background-color: #2b2d42;
}

.cp2-bc2 {
  background-color: #8d99ae;
}

.cp2-bc3 {
  background-color: #edf2f4;
}

.cp2-bc4 {
  background-color: #ef233c;
}

.cp2-bc5 {
  background-color: #d90429;
}

.cp3-bc1 {
  background-color: #3d5a80;
}

.cp3-bc2 {
  background-color: #829399;
}

.cp3-bc3 {
  background-color: #e0fbfc;
}

.cp3-bc4 {
  background-color: #ee6c4d;
}

.cp3-bc5 {
  background-color: #293241;
}

.cp4-bc1 {
  background-color: #495867;
}

.cp4-bc2 {
  background-color: #577399;
}

.cp4-bc3 {
  background-color: #bdd5ea;
}

.cp4-bc4 {
  background-color: #f7f7ff;
}

.cp4-bc5 {
  background-color: #fe5f55;
}

.cp5-bc1 {
  background-color: #21295C;
}

.cp5-bc2 {
  background-color: #1B3B6F;
}

.cp5-bc3 {
  background-color: #065A82;
}

.cp5-bc4 {
  background-color: #1C7293;
}

.cp5-bc5 {
  background-color: #9EB3C2;
}

.cp6-bc1 {
  background-color: #16697A;
}

.cp6-bc2 {
  background-color: #489FB5;
}

.cp6-bc3 {
  background-color: #82C0CC;
}

.cp6-bc4 {
  background-color: #EDE7E3;
}

.cp6-bc5 {
  background-color: #FFA62B;
}

.cp7-bc1 {
  background-color: #F03A47;
}

.cp7-bc2 {
  background-color: #AF5B5B;
}

.cp7-bc3 {
  background-color: #F6F4F3;
}

.cp7-bc4 {
  background-color: #276FBF;
}

.cp7-bc5 {
  background-color: #183059;
}

.cp8-bc1 {
  background-color: #545E75;
}

.cp8-bc2 {
  background-color: #63ADF2;
}

.cp8-bc3 {
  background-color: #A7CCED;
}

.cp8-bc4 {
  background-color: #304D6D;
}

.cp8-bc5 {
  background-color: #82A0BC;
}

.cp9-bc1 {
  background-color: #C4F1BE;
}

.cp9-bc2 {
  background-color: #A2C3A4;
}

.cp9-bc3 {
  background-color: #869D96;
}

.cp9-bc4 {
  background-color: #525B76;
}

.cp9-bc5 {
  background-color: #201E50;
}

.cp10-bc1 {
  background-color: #485696;
}

.cp10-bc2 {
  background-color: #E7E7E7;
}

.cp10-bc3 {
  background-color: #F9C784;
}

.cp10-bc4 {
  background-color: #FC7A1E;
}

.cp10-bc5 {
  background-color: #F24C00;
}

.cp11-bc1 {
  background-color: #3d5a80;
}

.cp11-bc2 {
  background-color: #98c1d9;
}

.cp11-bc3 {
  background-color: #e0fbfc;
}

.cp11-bc4 {
  background-color: #ee6c4d;
}

.cp11-bc5 {
  background-color: #293241;
}

.cp12-bc1 {
  background-color: #362864;
}

.cp12-bc2 {
  background-color: #3B3355;
}

.cp12-bc3 {
  background-color: #5D5D81;
}

.cp12-bc4 {
  background-color: #BFCDE0;
}

.cp12-bc5 {
  background-color: #FEFCFD;
}
