
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat&family=Mukta&family=Noto+Sans&family=Nunito&family=Nunito+Sans&family=Oswald&family=Poppins&family=Quicksand&family=Raleway&family=Rubik&family=Source+Sans+Pro&family=Ubuntu&display=swap');

.fuente1 {
  font-family: 'Lato', sans-serif;
}
.fuente2 {
  font-family: 'Merriweather', serif;
}
.fuente3 {
  font-family: 'Montserrat', sans-serif;
}
.fuente4 {
  font-family: 'Mukta', sans-serif;
}
.fuente5 {
  font-family: 'Noto Sans', sans-serif;
}
.fuente6 {
  font-family: 'Nunito', sans-serif;
}
.fuente7 {
  font-family: 'Oswald', sans-serif;
}
.fuente8 {
  font-family: 'Poppins', sans-serif;
}
.fuente9 {
  font-family: 'Quicksand', sans-serif;
}
.fuente10 {
  font-family: 'Raleway', sans-serif;
}
.fuente11 {
  font-family: 'Rubik', sans-serif;
}
.fuente12 {
  font-family: 'Source Sans Pro', sans-serif;
}
.fuente13 {
  font-family: 'Ubuntu', sans-serif;
}
